body {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  font-family: "Roboto", sans-serifs;
  background-color: #59b7ff;
}

html {
  scroll-behavior: smooth;
}

.mainsection {
  height: 100vh;
  margin: 0;
}

.clickable {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-shadow: 3px 3px #000000;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.return-button {
  padding: 9px 25px;
  margin-left: auto; /* Push the button to the right */
}

.clickable:hover {
  transition: all 0.3s ease 0s;
  box-shadow: none;
}

/*NAVBAR*/
#navbar {
  position: fixed;
  top: 0; /* Ensure it stays at the top */
  right: 0; /* Position it to the right */
  display: flex;
  align-items: center;
  height: 80px; /* Adjust height as needed */
  width: 100%; /* Ensure it spans the full width */
  justify-content: flex-end; /* Align content to the right */
  overflow: hidden;
  z-index: 2;
}

#navbar a {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: large;
  margin-left: 20px; /* Add spacing between links */
}

#navbar a:hover {
  color: #7f7f7f;
  transition: all 0.4s;
}

#navbar button {
  padding: 9px 25px;
  margin-left: auto; /* Push the button to the right */
}

#navbar button:hover {
  box-shadow: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links {
  margin-top: 25px;
  font-size: 50px;
}

.fa-brands {
  font-size: 50px;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    3px 3px #000000;
  margin: 10px;
}

.fa-brands:hover {
  cursor: pointer;
  transition: 0.3s all;
  transform: translateY(-5px);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    0px 0px #000000;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-github:hover {
  color: #6e5494;
}
